STACK_NAME=agencias

# Oracle compartido para todas las fabricas
ORACLE_PORT=18121
ORACLE_SYS_PASSWORD=oracle123
ORACLE_F1_APP_PASSWORD=123
ORACLE_F2_APP_PASSWORD=123
ORACLE_F3_APP_PASSWORD=123
ORACLE_F4_APP_PASSWORD=123
ORACLE_F5_APP_PASSWORD=123

# Fabrica ports (backend/frontend)
FABRICA_1_BE_PORT=5051
FABRICA_1_FE_PORT=5052
FABRICA_2_BE_PORT=5061
FABRICA_2_FE_PORT=5062
FABRICA_3_BE_PORT=5071
FABRICA_3_FE_PORT=5072
FABRICA_4_BE_PORT=5081
FABRICA_4_FE_PORT=5082
FABRICA_5_BE_PORT=5091
FABRICA_5_FE_PORT=5092

# SQL Server ports / passwords (2 distribuidores)
SQL_D1_PORT=11433
SQL_D2_PORT=11434
SQL_D1_SA_PASSWORD=Yomismo123!
SQL_D2_SA_PASSWORD=Yomismo123!

# Distribuidores ports (backend/frontend)
DIST_1_BE_PORT=5180
DIST_1_FE_PORT=5273
DIST_2_BE_PORT=5280
DIST_2_FE_PORT=5373
